<!doctype html>
<html>
<head>
	<title>Antique Shop</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
	<link rel="stylesheet" type="text/css" href="/s.css"/>
</head>
<body>

	<div class="ui vertical segment" style="padding: 0">
		<ul>
			<li><a href="/">Home</a></li>

			<li id="right">
				<a href="/login">Log In</a>
				<a href="/register">Register</a>
			</li>
			<li class="dropdown" id="right">
				<a class="dropbtn">Employee</a>
				<div class="dropdown-content">
					<a href="/clockIO">Time Clock</a>
					<a href="/timesheet">View Hours</a>
					<a href="/sales">Sales</a>
					<a href="/stock">Stock</a>
				</div>
			</li>
			<li class="dropdown" id="right">
				<a class="dropbtn">Customer</a>
				<div class="dropdown-content">
					<a href="/clockIO">Purchases</a>
					<a href="/timesheet">Rewards</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="ui container" style="padding-top:20px">
		{{{body}}}
	</div>
</body>
</html>
