<!doctype html>
<html>
<head>
	<title>Antique Shop</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
	<link rel="stylesheet" type="text/css" href="/s.css"/>
</head>
<body>

	<div class="ui vertical segment" style="padding: 0">
		<ul>
			<li><a href="/">Home</a></li>
			<li id="login"><a href="/login">Log In</a></li>
		</ul>
	</div>

	<div class="ui container" style="padding-top:20px">
		{{{body}}}
	</div>
</body>
</html>