<div>

    <h1 style="padding-bottom: 25px">Add a Transaction</h1>

    <div class="ui segment">
      <form class="ui form">
        <label>Item Name</labeL>
        <input type="text"/>

        <label>Space</labeL>
        <input type="number"/>

        <label>Asking Price</labeL>
        <input type="number"/>

        <input style="margin-top: 10px" class="ui submit button" type="submit"/>
      </form>
    </div>
</div>
