<div>

    <h1 style="padding-bottom: 25px">Clock your employee hours</h1>

    <div class="ui segment">
      <form class="ui form" action="/clockIO" method="post">
        <div>
          <label>Time in</label>
          <input type="time" name="timeIn" placeholder="12:00 AM">
        </div>
        <div>
          <label>Time out</label>
          <input type="time" name="timeOut" placeholder="12:00 AM">
        </div>
        <input class="ui submit button" type="submit"/>
      </form>
    </div>
</div>
