<div>

    <h1 style="padding-bottom: 25px">Welcome to Antiques-R-Us</h1>

    <div class="ui segment">
        <form class="ui form" action="/search-results">
            <h4>Search the Store!</h4>
            <input type="text" name="search" placeholder="Search"/>
        </form>
    </div>

</div>
