<div>
    <h3>Please provide your login credentials.</h3>
</div>

<div class="ui segment">
    <form class="ui form" action="/logIn">
        <div>
            <label>First Name</label>
            <input type="text" name="Fname" placeholder="First Name">
        </div>

        <div>
            <label>ID Number</label>
            <input type="text" name="ID" placeholder="ID Number">
        </div>

        <div>
            <label>Are you a(n)</label><br>
            <input type="radio" name="accType" value="employee">
            <label>Employee</label>
            <input type="radio" name="accType" value="customer">
            <label>Customer</label>
        </div>

        <input type="hidden" name="logIn" value="1"/>
        <input type="hidden" name="vendor" value="1"/>

        <input class="ui submit button" type="submit" value="Log In"/>
    </form>
</div>
