<div>
    {{#if failedAuth}}
      <h4 id='failedAuth'>Invalid login credentials provided. See /meetVendors and /meetCustomers for valid credentials.</h4>
    {{/if}}
    <h3>Please provide your login credentials.</h3>
    <p>Selecting Employee or Customer is all you need to sign in right now.</p>
</div>

<div class="ui segment">
    <form class="ui form" action="/logIn">
        <div>
            <label>First Name</label>
            <input type="text" name="Fname" placeholder="First Name">
        </div>

        <div>
            <label>ID Number</label>
            <input type="text" name="ID" placeholder="ID Number">
        </div>

        <div>
            <label>Are you a(n)</label><br>
            <input type="radio" name="accType" value="employee" required>
            <label>Employee</label>
            <input type="radio" name="accType" value="customer" required>
            <label>Customer</label>
        </div>

        <input type="hidden" name="logIn" value="1"/>

        <input class="ui submit button" type="submit"/>
    </form>
</div>
