<div>
    <h3>Meet our Vendors!</h3>
</div>

<div class="ui segment">
    {{#each vendors}}
        <h5>{{this.name}}</h5>
	<p>ID: {{this.id}}</p>
        <p>{{this.description}}</p>
        <div class="ui divider"></div>
    {{/each}}
</div>
