<div>
    <h3>Meet our Customers!</h3>
</div>

<div class="ui segment">
    {{#each customers}}
        <h5>{{this.name}}</h5>
        <p>ID: {{this.id}}</p>
	<p>Rewards points: {{this.rewardsPoints}}</p>
        <div class="ui divider"></div>
    {{/each}}
</div>
