<div>
    <h3>Meet our Vendors!</h3>
</div>

{{#each vendors}}
    <div class="ui segment">
        <h5>{{this.name}}</h5>
	    <p>ID: {{this.id}}</p>
        <p>{{this.description}}</p>
        <p>Owns the following spaces: {{this.spaces}}</p>
    </div>
{{/each}}