<div>
    <h3>Add a Space!</h3>
</div>

<div class="ui segment">
    <form class="ui form" action="">
        <h5>Vendor Details</h5>

        <label>First name</label>
        <input name="Fname" type="text">

        <label>Last name</label>
        <input name="Lname" type="text">
        
        <h5>Space Details</h5>
        
        <label>Space Number</label>
        <input type="number" name="vendor" min="1" max="12">

        <input style="margin-top: 10px" class="ui submit button" type="submit"/>
    </form>
</div>
