<div>
    <h3>Customer registration</h3>
</div>

<div class="ui segment">
    <form class="ui form" action="">
        <div>
            <label>First Name</label>
            <input type="text" name="Fname" placeholder="First Name">
        </div>

        <div class="ui submit button">Submit</div>
    </form>
</div>
