<h3>View Sales</h3>

<div class="ui segment">
    <form class="ui form" action="/sales" method="POST">
        <div>
            <label>Vendor ID</label>
            <input type="number" name="VID" />
        </div>
        <input type="submit" class="ui submit button" />
    </form>
</div>

{{#if sales}}
<div class="ui segment">
    <table id="table">
        <tr>
            <th>Name</th>
            <th>Transaction</th>
            <th>Quantity</th>
            <th>Unit Cost</th>
        </tr>

        {{#each sales}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.tid}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.cost}}</td>
        </tr>
        {{/each}}

    </table>
</div>
{{/if}}