<div>

    <h1 style="padding-bottom: 25px">View your timesheet</h1>

    <div class="ui segment">
      <table id="table">
        <tr>
            <th>Date</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Length (hours)</th>
        </tr>

        {{#each times}}
        <tr>
            <td>{{this.date}}</td>
            <td>{{this.in}}</td>
            <td>{{this.out}}</td>
            <td>{{this.length}}</td>
        </tr>
        {{/each}}

    </table>
    </div>
</div>
