<div>

    <h1 style="padding-bottom: 25px">View your timesheet</h1>

    <div class="ui segment">
      <table id="tableTimesheet">
        <tr>
          <th>Date</th>
          <th>Time in</th>
          <th>Time out</th>
          <th>Time worked</th>
        </tr>
        <tr>
          <td>2/7/2019</td>
          <td>12:00 PM</td>
          <td>1:00 PM</td>
          <td>1 hour, 0 minutes</td>
        </tr>
        <tr>
          <td>2/6/2019</td>
          <td>1:00 PM</td>
          <td>2:30 PM</td>
          <td>1 hour, 30 minutes</td>
        </tr>
        <tr>
          <td><b>Total</b></td>
          <td></td>
          <td></td>
          <td>2 hours, 30 minutes</td>
        </tr>
      </table>
    </div>
</div>
