ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background-color: #c2c2d6;
}

li {
    float: left;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#right{
  float: right;
}

#right a{
    /*
        I think it looks better a vertical list (block)
        than it does compounded into fewer rows (inline)
    */
  display: block;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #e0e0eb
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0e0eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #c2c2d6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

form div {
    padding-bottom: 10px;
}

div label {
    padding-right: 10px;
}

body {
    background-color: #f0f0f5;
}

#table .itemTable {
  text-align: left;
  border-collapse: collapse;
  min-width: 100%;
}

#table tr td, .itemTable tr td {
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#table tr:hover td, .itemTable tr:hover td{
  background-color: #c2c2d6;
  border-color: #c2c2d6;
}

#failedAuth{
  color: red;
}

#vendorRegContainer{
  display: none;
}
